/* Reset CSS básico para zerar margens e preenchimentos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos base para o layout */
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-image: linear-gradient(to right, #ac1616, #0445a5);
}

.nav-link{
    position: relative;
}

.nav-link:hover{

}
.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    background-color: dimgray;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-link:hover::after{
    opacity: 1;
}
.container-fluid{
    width: 100%;
    height: 600px;
    position: relative;
}
.gradient{
    height: 50%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(244, 244, 244), transparent);
    position:absolute;
    bottom: 0;
}
.img-fluid{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.crop{
    
    height: 580px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    display: block;
}


/* .container {
    margin-top: 0.4px;
    position: relative;
    background-image: url('images/marvelvsdc-3.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust the height as needed } */



/* .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: inherit;
    /*filter: brightness(50%) blur(3px) ; /* Adjust the blur radius as needed } */



/* Estilos para o cabeçalho/menu */
.menu {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* Estilos para o menu principal */
.menu__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu__item {
    margin: 0 20px;
    position: relative;
}

.menu__link {
    text-decoration: none;
    color: #fff;
}


/* Estilos para o conteúdo principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

/* Estilos para o rodapé */
.footer {
    background-color: #ceccccbb;
    color: #fff;
    text-align: center;
    padding: 2%;
    width: 100%;
}

.gradient-header {
    /* Linear Gradient */
    background: linear-gradient(to right, #ac1616, #0445a5);

    /* Radial Gradient (optional) */
    /* background: radial-gradient(circle, #FF5733, #6B3E26); */

    /* Add any other CSS properties you want for this class */
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
}

.gradient-header .menu-list{
    text-decoration: none;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    max-width: 80vh;
}