/* Reset CSS básico para zerar margens e preenchimentos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos base para o layout */
body {
    font-family: 'Open Sans', sans-serif;
}


.container {
    position: relative;
    background-image: url('Guia\ de\ personagens\ da\ Marvel\ e\ da\ DC.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust the height as needed */
}



.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: inherit;
    filter: brightness(50%) blur(3px) ; /* Adjust the blur radius as needed */
}



.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: white;
}



/* Estilos para header */

.gradient-header {
    /* Linear Gradient */
    background: linear-gradient(to right, #ac1616, #0445a5);

    /* Radial Gradient (optional) */
    /* background: radial-gradient(circle, #FF5733, #6B3E26); */
    max-width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 20px;
    display: flex;
}

.logo {
    max-width: 200px;
    height: auto;
    left: 20px;
    position: relative;
}

.menu__list {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vh;
    padding-left: 100px;
}

.header-content lu{
    position: relative;
    display: flex; 
}

.header-content lu li{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.header-content lu li a{
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.button-hover {
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

.button-hover:hover {
    background-color: #7980853b;
}


/* Estilos para o cabeçalho/menu */
.menu {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}


.menu__item {
    margin: 0 20px;
    position: relative;
}

.menu__link {
    text-decoration: none;
    color: #fff;
}


/* Estilos para o conteúdo principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

/* Estilos para o rodapé */
.footer {
    background-color: #ceccccbb;
    color: #fff;
    text-align: center;
    padding: 2%;
    width: 100%;
}



